$font-stack: 'Cormorant Garamond', serif;
$primary-color: #3c2121;
$second-color: #fdd6bb;
$hover-primary: #3c2121a0;
$hover-secondBtn: #f6c6a3;
$hover-mainBtn: #2c0f0f;
$white: #fff;
$black: #000;
$align-center: 0 auto;
$radiusDefault: 5px;
$main-transition: all 0.4s ease-in 0s;

@mixin main-text {
   font-family: $font-stack;
   font-weight: 500;
   color: $primary-color;
   font-size: 1.32rem;
   line-height: 1.3;
   letter-spacing: 0.1rem;
}

@mixin container {
   max-width: 1220px;
   padding: 0 10px;
   margin: $align-center;
}

@mixin main-title {
   font-size: 5rem;
   font-weight: 700;
   margin: 0;
   letter-spacing: 0.2em;
}

@mixin second-title {
   font-size: 3rem;
   font-weight: 700;
   margin-bottom: 2.5rem;
}

@mixin third-title {
   font-size: 2.3rem;
   font-weight: 700;
   margin: 0;
}

@mixin fourth-title {
   font-size: 1.8rem;
   font-weight: 700;
   margin: 0;
}

@mixin fifth-title {
   font-size: 1.3rem;
   font-weight: 700;
   margin: 0;
}

@mixin text-link {
   text-decoration: none;
   font-style: italic;
   font-size: 1.4rem;
   font-weight: 700;
   text-decoration: underline;
   color: inherit;
   transition: $main-transition;
   border-bottom: 2px solid transparent;

   &:hover {
      color: $hover-primary;
   }
}

@mixin main-button ($primary-color, $second-color, $font-size) {
   display: inline-block;
   box-sizing: border-box;
   cursor: pointer;
   border: 2px solid transparent;
   border-radius: 10px;
   background-color: $primary-color;
   color: $second-color;
   font-weight: 700;
   font-size: $font-size;
   letter-spacing: 0.1rem;
   text-decoration: none;
   transition: $main-transition;
   overflow: hidden;
   white-space: nowrap;
   padding: 8px;
   width: 170px;
   text-align: center;

   &:hover {
      background-color: $hover-secondBtn;
      color: $primary-color;
      border-color: $primary-color;
   }
}

@mixin main-button-inverse ($second-color, $primary-color, $font-size) {
   display: inline-block;
   box-sizing: border-box;
   cursor: pointer;
   border: 2px solid $primary-color;
   border-radius: 10px;
   background-color: $second-color;
   color: $primary-color;
   font-weight: 700;
   font-size: $font-size;
   letter-spacing: 0.1rem;
   text-decoration: none;
   transition: $main-transition;
   overflow: hidden;
   white-space: nowrap;
   padding: 10px;
   text-align: center;

   &:hover {
      background-color: $hover-mainBtn;
      color: $second-color;
      outline: 3px solid $second-color;
   }
}